<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>在线评教系统---统计分析管理模块</title>
    <link type="text/css" th:href="@{/static/layui/css/layui.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/static/js/jquery-3.4.0.js}"></script>
    <!--<script type="text/javascript" th:src="@{/static/js/echarts.js}"></script>-->
    <script src="https://cdn.bootcss.com/echarts/4.3.0-rc.2/echarts.js"></script>

    <script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
</head>
<style>
    .top{
        width: 100%;
        height: 80px;
    }

    .topFristDiv{
        width: 100%;
        height: 40px;
    }
    @font-face {
        font-family: 'webfont';
        font-display: swap;
        src: url('//at.alicdn.com/t/webfont_r5vxan9rcy.eot'); /* IE9*/
        src: url('//at.alicdn.com/t/webfont_r5vxan9rcy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('//at.alicdn.com/t/webfont_r5vxan9rcy.woff2') format('woff2'),
        url('//at.alicdn.com/t/webfont_r5vxan9rcy.woff') format('woff'), /* chrome、firefox */
        url('//at.alicdn.com/t/webfont_r5vxan9rcy.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url('//at.alicdn.com/t/webfont_r5vxan9rcy.svg#庞门正道标题体2') format('svg'); /* iOS 4.1- */
    }
    .web-font{
        font-family:"webfont" !important;
        font-size:16px;font-style:normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;
    }
    .fontDiv{
        text-align: center;
    }
    .topSencendDiv{
        width: 1000px;
        height: 40px;
    }
</style>
<body>
<div class="top">
    <div class="topFristDiv">
        <p class="web-font fontDiv" style="font-size: 40px">评教成绩明细</p>
    </div>
    <div class="topSencendDiv">
        <div style="width: 1000px;height: 20px;margin-top: 20px;" >
            <i style="font-size: 16px;" id="aa"></i>
            <i style="margin-left: 20px;color: #FFB800; "  id="paperId"></i>
            <i style="font-size: 16px;margin-l评教问卷eft: 20px" >老师名称:</i>
            <i style="margin-left: 20px;color: #FFB800;"  id="teacherId"></i>
        </div>

    </div>
</div>
<table id="demo" lay-filter="test"></table>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">明细</a>
</script>

</body>
<script type="text/javascript">

    function selectDataCallBack(teacherID,papersIds,batchIds){
        layui.use('table', function() {
            var table = layui.table;
            //数据表表头
            table.render({
                elem: '#demo'
                // ,height: 400
                , url: '/stats/queryTeacherScore'
                , page: true //开启分页
                , cols: [
                    [ //表头
                        {field: 'teacherName', templet: '#xuhao', title: '姓名', width: '15%', fixed: 'left', align: 'center'}
                        , {field: 'couresName', title: '课程名', width: '15%', align: 'center'}
                        , {field: 'teacherScore', title: '老师分数', width: '15%', align: 'center'}
                        , {field: 'teacherSelFraction', title: '自我评教', width: '15%', align: 'center'}
                        , {field: 'studentScore', title: '学生分数', width: '15%', align: 'center'}
                        , {field: 'score', title: '总分数', width: '15%', align: 'center'}
                        , {field: 'teacherID', title: 'ID', width: 50,hide:true}
                        , {field: 'paperId', title: '问卷ID', width: 50,hide:true}
                        , {field: 'couresID', title: '课程ID', width: 50,hide:true}
                        ,{title: '操作', width: '10%', align: 'center', toolbar: '#barDemo'}
                    ]
                ]
                ,done: function(res, curr, count){
                    $("[data-field='teacherID']").css('display','none'); //关键代码
                    $("[data-field='paperId']").css('display','none'); //关键代码
                    $("[data-field='couresID']").css('display','none');
                }
                ,where:{
                    "gradeds":teacherID,
                    "papersId":papersIds,
                    "batchId":batchIds
                }
            });
            table.on('tool(test)', function(obj){
                console.log(teacherID)
                var data = obj.data;
                console.log(obj)
                if(obj.event === 'detail'){
                    var couresID = obj.data.couresID
                    var paperId = obj.data.paperId
                    var gradeds = teacherID
                    console.log(gradeds)
                    var name = $("#aa").text()
                    if (name!="批次名称:"){
                        table.render({
                            elem: '#demo'
                            , url: '/stats/querydetail'
                            , page: true //开启分页
                            , cols: [
                                [ //表头
                                    {field: 'raterName', templet: '#xuhao', title: '姓名', width: '25%', fixed: 'left', align: 'center'}
                                    , {field: 'role_name', title: '身份', width: '25%', align: 'center'}
                                    , {field: 'fractions', title: '评价分数', width: '25%', align: 'center'}
                                    ,{title: '操作', width: '25%', align: 'center', toolbar: '#barDemo'}
                                    , {field: 'papers_id', width: 50,hide:true}
                                    , {field: 'rater',width: 50,hide:true}
                                    , {field: 'courses_id', width: 50,hide:true}
                                ]
                            ]
                            ,done: function(res, curr, count){
                                console.log(res.data[0].papers_name)
                                $("[data-field='papers_id']").css('display','none'); //关键代码
                                $("[data-field='rater']").css('display','none'); //关键代码
                                $("[data-field='courses_id']").css('display','none');
                                $("[data-field='papers_name']").css('display','none');
                                $("#paperId").text(res.data[0].papers_name)
                            }
                            ,where:{
                                "gradeds":gradeds,
                                "courses_id":couresID,
                                "papersId":paperId
                            }
                        });
                    }else {
                        table.render({
                            elem: '#demo'
                            , url: '/stats/querydetail'
                            , page: true //开启分页
                            , cols: [
                                [ //表头
                                    {field: 'raterName', templet: '#xuhao', title: '姓名', width: '25%', fixed: 'left', align: 'center'}
                                    , {field: 'role_name', title: '身份', width: '25%', align: 'center'}
                                    , {field: 'fractions', title: '评价分数', width: '25%', align: 'center'}
                                    ,{title: '操作', width: '25%', align: 'center', toolbar: '#barDemo'}
                                    , {field: 'papers_id', width: 50,hide:true}
                                    , {field: 'rater',width: 50,hide:true}
                                    , {field: 'courses_id', width: 50,hide:true}
                                ]
                            ]
                            ,done: function(res, curr, count){
                                console.log(res.data[0].papers_name)
                                $("[data-field='papers_id']").css('display','none'); //关键代码
                                $("[data-field='rater']").css('display','none'); //关键代码
                                $("[data-field='courses_id']").css('display','none');
                                $("[data-field='papers_name']").css('display','none');
                                $("#paperId").text($("#paperId").text())
                            }
                            ,where:{
                                "gradeds":gradeds,
                                "courses_id":couresID,
                                "batchId":batchIds
                            }
                        });
                    }
                    table.on('tool(test)', function(obj){
                        var data = obj.data;
                        // var batchId =   $("#batchId").find("option:selected").text();
                        // var papersId =   $("#paperId").find("option:selected").text();
                        console.log(obj)
                        if(obj.event === 'detail'){

                            var rater=obj.data.rater
                            var graded=teacherID
                            var papersid=obj.data.papers_id
                            var coursesid=obj.data.courses_id
                            $.ajax({
                                type:"get",
                                url:"/stats/testList",
                                success:function (res) {
                                        layer.open({
                                            type:2
                                            ,skin:'layui-layer-rim'//加上边框
                                            // ,maxmin: true //开启最大化最小化按钮
                                            ,area: ["100%","100%"]
                                            ,title: "查询成绩"
                                            ,content:"/stats/testList"
                                            ,success: function (layero,index) {
                                                var body = layer.getChildFrame('body', index);
                                                var iframe = window['layui-layer-iframe' + index];
                                                // 向子页面的全局函数
                                                iframe.inputDataHandle(graded,papersid,coursesid,rater);
                                            }
                                        })
                                }
                            })
                        }
                    });
                }
            });
        })
    }
</script>
</html>