<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <title>用户界面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link type="text/css" th:href="@{/static/layui/css/layui.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/static/js/jquery-3.4.0.js}"></script>
    <script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
</head>
<body>
<!--<div style="margin-bottom: 5px;">-->

<!--<ins class="adsbygoogle" style="display:inline-block;width:970px;height:90px" data-ad-client="ca-pub-6111334333458862" data-ad-slot="3820120620"></ins>-->

<!--</div>-->

<!--搜索框-->
<div class="demoTable">
    账号：
    <div class="layui-inline">
        <input class="layui-input" name="id" id="user_account" autocomplete="off">
    </div>
    角色:
    <div class="layui-form layui-inline" style="width: 200px">
        <select id="role_name" name="role_name"  lay-search>
            <option value=""></option>
        </select>
    </div>
    <button type="button" class="layui-btn" id="addUser">
        <i class="layui-icon">&#xe608;</i> 添加
    </button>
</div>

<!--动态生成角色下拉框-->
<script>
    layui.use(['form', 'upload', 'layer'], function () {
        $.ajax({
            url: '/userAdministration/selectAllRole',
            dataType: 'json',
            type: 'get',
            success: function (data) {
                $.each(data.data, function (index,item) {
                    $('#role_name').append(new Option(item.role_Name));// 下拉菜单里添加元素
                });
                layui.form.render("select");
            }
        })
    });
</script>

<!--生成表格-->
<script type="text/html" id="xuHao">
    {{d.LAY_INDEX}}
</script>
<table class="layui-table" lay-data="{width:1100,url:'/userAdministration/selectAllUser', page:true, id:'idTest'}" lay-filter="demo">
    <thead>
    <tr>
        <th lay-data="{field: '序号',templet: '#xuHao',sort: true,width:80}">序号</th>
        <th lay-data="{field:'user_name',width:160}">姓名</th>
        <th lay-data="{field:'user_sex',width:90}">性别</th>
        <th lay-data="{field:'user_account',sort: true,width:160}">账号</th>
        <th lay-data="{field:'departments_name',width:160}">所属院系</th>
        <th lay-data="{field:'role_name',width:160}">用户角色</th>
        <th lay-data="{title:'操作', toolbar: '#barDemo'}"></th>
    </tr>
    </thead>
</table>

<!--表格的操作-->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">初始密码</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改信息</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<!--<script>-->
    <!--layui.use(['form','table'], function(){-->
        <!--var table = layui.table;-->
        <!--var form = layui.form-->
    <!---->
            <!--var user_account = $('#user_account');-->
            <!--var role_name = $('#role_name');-->

            <!--//执行重载-->
            <!--table.reload("idTest",{-->
                <!--page: {-->
                    <!--curr: 1 //重新从第 1 页开始-->
                <!--}-->
                <!--,url:"/userAdministration/selectAccountUsers"-->
                <!--,where: {-->
                    <!--user_Account: user_account.val()-->
                    <!--,role_name:role_name.val()-->
                <!--}-->
            <!--});-->

    <!--})-->

<!--</script>-->


<script>
    layui.use('table', function(){
        var table = layui.table;
        var form = layui.form
        //监听工具条
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            console.log("obj"+obj);
            console.log("obj.data"+obj.data);
            console.log(data.user_Id)
            if(obj.event === 'detail'){//初始化密码
                layer.confirm('初始化密码为123456789', function(index){
                    $.ajax({
                        url:"/userAdministration/updateUserPassword",
                        type:"get",
                        data:{user_Id:data.user_id},
                        success:function (res) {
                            if(res.data == 1){
                                layer.msg('初始化成功',{icon:1});
                            }
                        }
                    })
                    // layer.close(index);
                });

            } else if(obj.event === 'del'){//删除用户
                layer.confirm('真的删除该用户嘛', function(index){
                    $.ajax({
                        url:"/userAdministration/updateUserState",
                        type:"get",
                        data:{user_Id:data.user_id},
                        success:function (res) {
                            if(res.data == 1){
                                location.reload();
                            }
                        }
                    })
                });
            } else if(obj.event === 'edit'){
                var user_account = $('#user_account');
                var role_name = $('#role_name');
                layer.open({
                    type:2
                    ,skin:'layui-layer-rim'//加上边框
                    ,maxmin: true //开启最大化最小化按钮
                    ,area: ["500px","500px"]
                    ,title: "修改用户信息"
                    ,content:"/userAdministration/GoUpdateUser"
                    ,success: function (layero,index) {
                        var body = layer.getChildFrame('body', index);
                        var iframe = window['layui-layer-iframe' + index];
                        // 向子页面的全局函数
                        iframe.inputDataHandle(obj);
                    },
                    end:function () {
                        table.reload("idTest",{
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                            ,url:"/userAdministration/selectAccountUsers"
                            ,where: {
                                user_Account: user_account.val()
                                ,role_name:role_name.val()
                            }
                        });
                    }
                })
            }
        });

        // 重载


        $("#user_account").bind("input propertychange",function () {
            var user_account = $('#user_account');
            var role_name = $('#role_name');

            //执行重载
            table.reload("idTest",{
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                ,url:"/userAdministration/selectAccountUsers"
                ,where: {
                    user_Account: user_account.val()
                    ,role_name:role_name.val()
                }
            });
        })

        form.on('select',function (data) {
            var user_account = $('#user_account');
            var role_name = $('#role_name');

            //执行重载
            table.reload("idTest",{
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                ,url:"/userAdministration/selectAccountUsers"
                ,where: {
                    user_Account: user_account.val()
                    ,role_name:role_name.val()
                }
            });
        })



        //添加用户
        $("#addUser").click(function (ev) {
            ev.preventDefault()
            var user_account = $('#user_account');
            var role_name = $('#role_name');
            layer.open({
                type:2
                ,skin:'layui-layer-rim'//加上边框
                ,maxmin: true //开启最大化最小化按钮
                ,area: ["500px","500px"]
                ,title: "增加用户信息"
                ,content:"/userAdministration/GoAddUser"
                ,success: function (layero,index) {
                    var body = layer.getChildFrame('body', index);
                    var iframe = window['layui-layer-iframe' + index];
                },
                end:function () {
                    table.reload("idTest",{
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        ,url:"/userAdministration/selectAccountUsers"
                        ,where: {
                            user_Account: user_account.val()
                            ,role_name:role_name.val()
                        }
                    });
                }
            })
        })

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>

</body>
</html>