<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>问卷管理</title>
    <link type="text/css" th:href="@{/static/layui/css/layui.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/static/js/jquery-3.4.0.js}"></script>
    <script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>

</head>
<style>

</style>
<body>
<div style="width: 100%;">
    <a class="layui-btn layui-btn-xs layui-btn-normal" style="line-height:0.5em;margin-top:1px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:20px">ဂ</i></a>
</div>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
    <legend>问卷管理</legend>
</fieldset>

<form class="layui-form   " action="">
<div class="layui-form-item">
    <label class="layui-form-label">问卷批次:</label>
    <div class="layui-input-inline">
        <select  name="quiz2" id="pici" lay-filter="college" lay-search>
            <option value="">请选择批次</option>
        </select>
    </div>

    <label class="layui-form-label">角色:</label>
    <div class="layui-input-inline">
        <select  name="quiz2" id="jiaose" lay-filter="jiaose"  lay-search>
            <option value="">请选择角色</option>
        </select>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">问卷名称: </label>
        <div class="layui-input-inline">
            <input  type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入问卷名称" class="layui-input" id="shoushuo_input">
        </div>
        <button type="button" class="layui-btn layui-btn-normal" id="shoushu">   <i class="layui-icon">&#xe615;</i>搜索</button>
    </div>
    <button type="button" class="layui-btn"   id="add">
        <i class="layui-icon">&#xe608;</i> 新增问卷
    </button>

</div>
</form>
<!--历史问卷-->
<!--<hr class="layui-bg-green">-->
<fieldset class="layui-elem-field layui-field-title " style="margin-top: 10px;">
    <legend style="font-size: 15px">历史问卷</legend>
</fieldset>


<table class="layui-hide" id="test" lay-filter="test"></table>


<!--<script type="text/html" id="toolbarDemo">-->
    <!--<div class="layui-btn-container">-->
        <!--<button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>-->
        <!--<button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>-->
        <!--<button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>-->
    <!--</div>-->
<!--</script>-->

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">查看</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>



</body>
<script type="text/html" id="xuhao">
    {{d.LAY_TABLE_INDEX+1}}
</script>

<script>
var role_id
var batch_id
    layui.use(['form', 'layedit', 'laydate','table','jquery', 'upload', 'layer'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate
            ,$=layui.jquery
            , table = layui.table;
        table.render({
            elem: '#test'
            ,url:'/Questionnaire//QuestionnaireAll'
          //  ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips'
            }]
            ,title: '用户数据表'
            ,cols: [
                [
                 {field:'papers_id', title:'', width:0.1, edit: 'text' ,style:"display: none", hide:"true" }
                ,{title: '序号',templet: '#xuhao', width:100,align:'center' }
                ,{field:'role_name', title:'角色', width:220, edit: 'text'}
                ,{field:'batch_name', title:'批次', edit: 'text', sort: true }
                ,{field:'papers_name', title:'问卷名称', edit: 'text',}
                ,{field:'batch_hide', title:'状态', edit: 'text', width:200}
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}

            ]
            ]
            ,page: true
        });
        $('table.layui-table thead tr th:eq(0)').addClass('layui-hide');
        $('table.layui-table thead tr :eq(0)').addClass('layui-hide');
        $("#shoushu").click(function () {
            table.reload('test', {
                page: {
                    curr: 1 //重新从第 1 页开始
                },
                url:"/Questionnaire/selectQuestionnaireinName"
                ,where: {
                    papers_name:$("#shoushuo_input").val()
                }
            }, 'data');
        })

        //头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选': '未全选');
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            };
        });
//下拉监听
        form.on('select(college)', function(data){
            console.log("点击批次")
            batch_id=data.value
            if (role_id==""||role_id==undefined) {

                table.reload('test', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    url:"/Questionnaire/selectQuestionnaireinBatch"
                    ,where: {
                        batch_id:data.value
                    }
                }, 'data');

            }else {

                table.reload('test', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    url:"/Questionnaire/selectQuestionnaireinBR"
                    ,where: {
                        batch_id:data.value,
                        role_id:role_id
                    }
                }, 'data');
            }
            if (batch_id=="") {
                if (role_id==""||role_id==undefined) {
                    table.reload('test', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        },
                        url:'/Questionnaire//QuestionnaireAll'

                    }, 'data');
                }else {

                    table.reload('test', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        },
                        url:"/Questionnaire/selectQuestionnaireinRoleid"
                        ,where: {
                            role_id:role_id
                        }
                    }, 'data');
                }
            }


    //        console.log(data.value); //得到被选中的id
        });
        form.on('select(jiaose)', function(data){
            role_id=data.value
            if (batch_id==""||batch_id==undefined) {

                table.reload('test', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    url:"/Questionnaire/selectQuestionnaireinRoleid"
                    ,where: {
                        role_id:data.value
                    }
                }, 'data');


            }else {

                table.reload('test', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    url:"/Questionnaire/selectQuestionnaireinBR"
                    ,where: {
                        batch_id:batch_id,
                        role_id:data.value
                    }
                }, 'data');
            }
            if (role_id=="") {
                if (batch_id==""||batch_id==undefined) {
                    table.reload('test', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        },
                        url:'/Questionnaire//QuestionnaireAll'

                    }, 'data');
                }else {

                    table.reload('test', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        },
                        url:"/Questionnaire/selectQuestionnaireinBR"
                        ,where: {
                            batch_id:batch_id
                        }
                    }, 'data');
                }
            }


          //  console.log(data.value); //得到被选中的id

        });

        //监听行工具事件
        table.on('tool(test)', function(obj){
            console.log(obj)
            var data = obj.data;
            console.log(data)
            console.log(data.papers_id)
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    $.ajax({
                        type: "get",
                        url:"/Questionnaire/deletePapers",
                        data:{papers_Id:data.papers_id},
                        success:function (e) {
                            if (e==true) {
                                obj.del();
                                layer.close(index);
                                layer.msg('删除成功', {icon: 1});
                            }else {
                                layer.msg('操作失败', {icon: 2});
                            }
                        },
                        error:function () {
                            layer.msg('操作失败', {icon: 2});
                        }

                    })

                });
            } else if(obj.event === 'edit'){
                layer.prompt({
                    formType: 2
                    ,value: data.email
                }, function(value, index){
                    obj.update({
                        email: value
                    });
                    layer.close(index);
                });
            }
        });
        
        

        $.ajax({
            url: '/Questionnaire/selectbatch',
            dataType: 'json',
            type: 'get',
            success: function (data) {
                $.each(data.data, function (index,item) {
                    $('#pici').append(new Option(item.batch_name,item.batch_id));// 下拉菜单里添加元素
                });
                layui.form.render("select");
            }
        })

        $.ajax({
            url: '/Questionnaire/selectuser',
            dataType: 'json',
            type: 'get',
            success: function (data) {
                $.each(data.data, function (index,item) {
                    $('#jiaose').append(new Option(item.role_name,item.role_id));// 下拉菜单里添加元素
                });
                layui.form.render("select");
            }
        })

        $("#add").click(function () {
            layer.open({
                type: 2,
                area: ['100%', '100%'],
                content: '/Questionnaire/addQuestionnaire',
                title:"新增问卷",
                // maxmin: true,
            });

        })
      


    });





</script>
<style>
    html{

    }
</style>
</html>