<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>增加授课</title>
    <link type="text/css" th:href="@{/static/layui/css/layui.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/static/js/jquery-3.4.0.js}"></script>
    <script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>

</head>

<body>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
    <legend>新增授课信息</legend>
</fieldset>

<form class="layui-form" action="" lay-filter="example">
    <div class="layui-form-item">
        <label class="layui-form-label">课    程</label>
        <div class="layui-input-block">
            <select name="course" lay-verify="required" style="width: 50px;" data-method="" id="course" lay-search >
                <option value="">请选择课程</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">班    级</label>
        <div class="layui-input-block">
            <select name="teach" lay-verify="required" data-method="" id="class" lay-search >
                <option value="">请选择班级</option>
            </select>
        </div>
        <label class="layui-form-label">教   师</label>
        <div class="layui-input-block">
            <select name="class"  data-Uid="张三" id="teach" lay-search lay-verify="required">
                <option value="">请选择教师</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
        </div>
    </div>
</form>

</body>
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;
        //监听提交
        form.on('submit(demo1)', function(data){
            console.log(data.field)
            // 跳转到后台修改授课信息
            $.ajax({
                url: '/course/addTeachInfo',
                dataType: 'json',
                type: 'get',
                data:{courses_Id:data.field.course,user_Id:data.field.class,class_ID:data.field.teach},
                success: function (data) {
                        layer.alert(data.result, {
                            title: '提示信息',yes:function(){
                                if (data.result = "操作成功") {
                                    var index = parent.layer.getFrameIndex(window.name); //获取当前窗口的name
                                    parent.layer.close(index);		//关闭窗口
                                }
                             }
                        })
                }
            });

            // console.log(data)
            // layer.alert(data.field.teach, {
            //     title: '最终的提交信息'
            // })
            return false;
        });
    });
    layui.use(['form', 'upload', 'layer'], function () {
        //为课程下拉框赋值
        $.ajax({
            url: '/course/listDateAll',
            dataType: 'json',
            type: 'get',
            success: function (data) {
                $.each(data.data, function (index,item) {
                    $('#course').append(new Option(item.courses_Name,item.courses_Id));// 下拉菜单里添加元素
                });
                layui.form.render("select");
            }
        })
        //为班级下拉框赋值
        $.ajax({
            url: '/course/classInfo',
            dataType: 'json',
            type: 'get',
            success: function (data) {
                $.each(data.data, function (index,item) {
                    $('#class').append(new Option(item.class_Name,item.class_Id));// 下拉菜单里添加元素
                });
                layui.form.render("select");
            }
        })
        //为教师下拉框赋值
        $.ajax({
            url: '/course/teachUser',
            dataType: 'json',
            type: 'get',
            success: function (data) {
                $.each(data.data, function (index,item) {
                    $('#teach').append(new Option(item.user_Name,item.user_Id));// 下拉菜单里添加元素
                });
                layui.form.render("select");
            }
        })
    });

</script>
</html>