<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>课程管理</title>
<link type="text/css" th:href="@{/static/layui/css/layui.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/static/js/jquery-3.4.0.js}"></script>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
</head>
<body>
<div class="layui-btn-group demoTable">
    <button class="layui-btn" data-type="getCheckData">获取选中行数据</button>
    <button class="layui-btn" data-type="getCheckLength">获取选中数目</button>
    <button class="layui-btn" data-type="isAll">验证是否全选</button>
</div>
<table id="demo" lay-filter="test"></table>

<script type="text/html" id="selectGxmc" >
    <select name='jtcyGxmc' lay-verify='' lay-search=''>
        <option value=""></option>
        <option value="父子">父子</option>
        <option value="母子">母子</option>
        <option value="姐弟">姐弟</option>
        <option value="弟弟">弟弟</option>
    </select>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-xs" lay-event="detail">授课详情</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

    <!-- 这里同样支持 laytpl 语法，如： -->
    {{#  if(d.auth > 2){ }}
    <a class="layui-btn layui-btn-xs" lay-event="check">审核</a>
    {{#  } }}
</script>

<!--序号自增-->
<!--<script type="text/html" id="xuhao">-->
<!--{{d.LAY_TABLE_INDEX+1}}-->
<!--</script>-->
<style>

    /* 防止下拉框的下拉列表被隐藏---必须设置--- */
    .layui-table-cell {            overflow: visible !important;        }
    /* 使得下拉框与单元格刚好合适 */
    td .layui-form-select{
        margin-top: -10px;
        margin-left: -15px;
        margin-right: -15px;
    }
</style>
<script type="text/javascript">
    layui.use('table', function(){
        var table = layui.table;

        //数据表表头
        table.render({
            elem: '#demo'
            // ,height: 400
            ,url: '/course/teachListDate' //数据接口
            ,page: true //开启分页
            ,cols: [
                [ //表头
                    {field: 'teach_id', templet: '#xuhao',title: '课程ID', width:'20%', sort: true, fixed: 'left', align: 'center'},
                    // {field: 'electGxmc', title: '下拉框', width: '20%',align: 'center',templet:'#selectGxmc'},
                    {field: 'courses_Name', title: '课程名', width: '20%',align: 'center'}
                    ,{field: 'class_Name', title: '班级', width:'20%', event: 'setSign' ,align: 'center'}
                    ,{field: 'user_Name', title: '授课教师', width:'20%', align: 'center'}
                    ,{title: '操作', width: '20%', align: 'center', toolbar: '#barDemo'}
                ]
            ]
        });

        //监听工具条
        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）

            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
            $("#id").html("填充代码");
            console.log(tr)
            console.log(tr[0].innerHTML)

            if(layEvent === 'detail'){ //查看
                //do somehing
                //iframe层-父子操作
                // layer.open({
                //     type: 2,
                //     title:'已有权限',
                //     area: ['700px', '450px'],
                //     fixed: false, //不固定
                //     maxmin: true,
                //     content: '/course/teach',
                //     success:function (layero,index) {
                //         var iframe = window['layui-layer-iframe' + index];
                //         iframe.child(data)
                //     }
                // });
                location.href = '/course/teach'
            } else if(layEvent === 'del'){ //删除
                layer.confirm('真的删除行么', function(index){
                    //向服务端发送删除指令
                    $.ajax({
                        url:'/course/deleteOne',
                        type:'post',
                        data:{
                            courses_Id: data.courses_Id
                        },
                        success:function (res) {
                            if (res.result=="操作成功"){
                                obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                layer.close(index);
                                layer.msg(res.result)
                            } else if (res.result=="操作失败") {
                                layer.msg(res.result);
                            }
                        },
                        error:function () {
                            layer.msg("异常");
                        }
                    })
                });
            } else if(layEvent === 'edit'){ //编辑
                console.log($(this).parent().innerHTML)
                //do something
                // if(obj.event === 'setSign'){
                //
                //     this.innerHTML='<div id="aa">这是内容</div>';
                //     // console.log(this.innerHTML)
                //     this.className+=data.sign;
                //     this.style.background = "red";
                //
                // };
                //同步更新缓存对应的值
                obj.update({
                    username: '123'
                    ,title: 'xxx'
                });
            } else if(layEvent === 'LAYTABLE_TIPS'){
                layer.alert('Hi，头部工具栏扩展的右侧图标。');
            }
        });
//头部按钮
        var $ = layui.$, active = {
            getCheckData: function(){ //获取选中数据
                var checkStatus = table.checkStatus('idTest')
                    ,data = checkStatus.data;
                layer.alert(JSON.stringify(data));
            }
            ,getCheckLength: function(){ //获取选中数目
                var checkStatus = table.checkStatus('idTest')
                    ,data = checkStatus.data;
                layer.msg('选中了：'+ data.length + ' 个');
            }
            ,isAll: function(){ //验证是否全选
                var checkStatus = table.checkStatus('idTest');
                layer.msg(checkStatus.isAll ? '全选': '未全选')
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });

</script>
</body>
</html>