<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改授课</title>
    <link type="text/css" th:href="@{/static/layui/css/layui.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/static/js/jquery-3.4.0.js}"></script>
    <script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>

</head>
<style>
    .biaoti{
        text-align: center;
        height: 40px;
        font-size: 28px;
        color: #009688;
    }
</style>
<body>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
    <legend>赋值和取值</legend>
</fieldset>

<form class="layui-form" action="" lay-filter="example">
    <div class="layui-form-item">
        <label class="layui-form-label">课    程</label>
        <div class="layui-input-block">
            <input type="text" name="course" lay-verify="title" autocomplete="off" id="course" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">班    级</label>
        <div class="layui-input-block">
            <select name="teach" id="teach" lay-search lay-filter="aihao">
                <option value=""></option>
            </select>
        </div>
        <label class="layui-form-label">教   师</label>
        <div class="layui-input-block">
            <select name="class" id="class" lay-search lay-filter="aihao">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" class="layui-btn layui-btn-normal" id="LAY-component-form-setval">赋值</button>
            <button type="button" class="layui-btn layui-btn-normal" id="LAY-component-form-getval">取值</button>
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
        </div>
    </div>
</form>

</body>
<script>
    console.log(parent.courses_Name)
    $("#course").val(parent.courses_Name)//为课程赋值

    // layui.use(['form', 'layedit', 'laydate'], function(){
    //     var form = layui.form
    //         ,layer = layui.layer
    //         ,layedit = layui.layedit
    //         ,laydate = layui.laydate;
    //
    //     //自定义验证规则
    //     form.verify({
    //         title: function(value){
    //             if(value.length < 5){
    //                 return '标题至少得5个字符啊';
    //             }
    //         }
    //         ,pass: [
    //             /^[\S]{6,12}$/
    //             ,'密码必须6到12位，且不能出现空格'
    //         ]
    //         ,content: function(value){
    //             layedit.sync(editIndex);
    //         }
    //     });
    //
    //     //监听指定开关
    //     form.on('switch(switchTest)', function(data){
    //         layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
    //             offset: '6px'
    //         });
    //         layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
    //     });
    //
    //     //监听提交
    //     form.on('submit(demo1)', function(data){
    //         layer.alert(JSON.stringify(data.field), {
    //             title: '最终的提交信息'
    //         })
    //         return false;
    //     });
    //
    //     //表单赋值
    //     layui.$('#LAY-component-form-setval').on('click', function(){
    //         form.val('example', {
    //             "username": "贤心" // "name": "value"
    //             ,"password": "123456"
    //             ,"interest": 1
    //             ,"like[write]": true //复选框选中状态
    //             ,"close": true //开关状态
    //             ,"sex": "女"
    //             ,"desc": "我爱 layui"
    //         });
    //     });
    //     //表单取值
    //     layui.$('#LAY-component-form-getval').on('click', function(){
    //         var data = form.val('example');
    //         alert(JSON.stringify(data));
    //     });
    // });
    layui.use(['form', 'upload', 'layer'], function () {
        $.ajax({
            url: '/class/goclass',
            dataType: 'json',
            type: 'get',
            success: function (data) {
                console.log(data)
                $.each(data.data, function (index,item) {
                    $('#class').append(new Option(item.class_name));// 下拉菜单里添加元素
                });
                layui.form.render("select");
            }
        })
        $.ajax({
            url: '/course/teachUser',
            dataType: 'json',
            type: 'get',
            success: function (data) {
                console.log(data)
                $.each(data.data, function (index,item) {
                    $('#teach').append(new Option(item.user_Name));// 下拉菜单里添加元素
                });
                layui.form.render("select");
            }
        })
    });

</script>
</html>