<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在线评教系统---权限管理模块</title>
    <link type="text/css" th:href="@{/static/layui/css/layui.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/static/js/jquery-3.4.0.js}"></script>
    <script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
</head>
<style>
    html, body {
        height: 100%;
        margin:0;padding:0;
        font-size: 12px;
    }
    div{
        -moz-box-sizing: border-box;  /*Firefox3.5+*/
        -webkit-box-sizing: border-box; /*Safari3.2+*/
        -o-box-sizing: border-box; /*Opera9.6*/
        -ms-box-sizing: border-box; /*IE8*/
        box-sizing: border-box; /*W3C标准(IE9+，Safari5.1+,Chrome10.0+,Opera10.6+都符合box-sizing的w3c标准语法)*/
    }
    .dBody {
        width:100%;
        overflow:auto;
        top:20px;
        position:absolute;
        z-index:10;
        bottom:5px;
    }
    .layui-btn-xstree {
        height: 35px;
        line-height: 35px;
        padding: 0px 5px;
        font-size: 12px;
    }
    input {
        height: 33px;
        line-height: 33px;
        padding: 0 7px;
        border: 1px solid #ccc;
        border-radius: 2px;
        margin-bottom: -2px;
        outline: none;
    }

    input:focus {
        border-color: #009E94;
    }
</style>


<body>
<div class="dBody">
    <i class="layui-icon" style="font-size: 30px;">&#xe615;</i>
    <input id="edt-search" type="text" placeholder="输入关键字"  style="margin-left: 20px"/>
    <button class="layui-btn" data-type="insert" id="insertPower" style="margin-left: 20px">添加权限</button>
    <table class="layui-hidden layui-table" id="treeTable" lay-filter="treeTable"></table>
</div>
<script type="text/html" id="oper-col">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="checkboxTpl">
    <input type="checkbox"   value="{{d.power_Id}}" name="power_state"  id="power_state"  lay-skin="switch" lay-text="启用|维护" lay-filter="lockDemo" {{ d.power_state =="1"?"checked":""}}>
</script>


<script type="text/javascript">
    var editObj=null,ptable=null,dltable=null,tableId='listTable',layer=null;
    layui.config({
        base: '../static/layui/'
    }).extend({
        treeGrid:'treeGrid'
    }).use(['jquery','treeGrid','layer','table'], function(){
        var $=layui.jquery;
        var form = layui.form;
        treeGrid = layui.treeGrid;//很重要
        layer=layui.layer;
        treeGrid.render({
            id:tableId
            ,elem: '#treeTable'
            ,url:'/powerBoot/queryPowerAll'
            ,cellMinWidth: 100
            ,idField:'power_Id'//必須字段
            ,treeId:'power_Id'//树形id字段名称
            ,treeUpId:'power_parentid'//树形父id字段名称
            ,treeShowName:'power_Name'//以树形式显示的字段
            ,heightRemove:[".dHead",10]//不计算的高度,表格设定的是固定高度，此项不生效
            ,height:'100%'
            ,isFilter:false
            ,iconOpen:true//是否显示图标【默认显示】
            ,isOpenDefault:false//节点默认是展开还是折叠【默认展开】
            ,loading:true
            ,method:'post'
            ,isPage:false
            ,cols: [
                [
                    {field:'power_Id', title: '权限编号',width:100  }
                    ,{field:'power_Name',  title: '权限名称',width:200}
                    ,{field:'power_url', title: '权限地址',width:300}
                    ,{field:'power_state', title:'权限状态', templet: '#checkboxTpl',width:100, unresize: true}
                    ,{field:'describe',title: '描述'}
                    ,{field:'sort',title: '排序',width:100}
                    ,{templet: '#oper-col', title: '操作'}
                ]
            ]
            ,parseData:function (res) {//数据加载后回调
                console.log(res)
            }
        })
        form.on('switch(lockDemo)',function (data) {
            var x = data.elem.checked;//判断开关状态
            var contexts = "";
            var state = 0;
            var power_Id = this.value;
            if (x==true) {
                contexts = "启用";
                state=1;
            } else {
                contexts = "维护";
                state=2;
            }
            console.log(power_Id)
            console.log(this)
            if (power_Id!=5){
                layer.open({
                    content: '你确定要修改权限状态'
                    , btn: ['确定', '取消']
                    , yes: function (index, layero) {
                        data.elem.checked = x;
                        $.ajax({
                            type: "post"
                            ,url: "/powerBoot/updatePowerState"
                            ,data: {
                                "power_id": power_Id,
                                "state":state
                            }
                            ,success:function (res) {
                                console.log(res)
                                reload();
                            }
                        })
                        layer.close(index);
                    }
                    , btn2: function (index, layero) {
                        //按钮【按钮二】的回调
                        data.elem.checked = !x;
                        reload();
                        layer.close(index);
                    }
                    , cancel: function () {
                        //右上角关闭回调
                        data.elem.checked = !x;
                        reload();
                        //return false 开启该代码可禁止点击该按钮关闭
                    }
                })
            } else {
                layer.open({
                    content: '此功能不可关闭'
                    , btn: ['确定']
                    ,title:"警告"
                    , yes: function (index, layero) {
                        //按钮【按钮二】的回调
                        data.elem.checked = !x;
                        reload();
                        layer.close(index);
                    }
                    , cancel: function () {
                        //右上角关闭回调
                        data.elem.checked = !x;
                        reload();
                        //return false 开启该代码可禁止点击该按钮关闭
                    }
                })
            }
        })

        treeGrid.on('tool(treeTable)',function (obj) {
            if(obj.event === 'del'){//删除行
                del(obj)
            }else if(obj.event==="edit"){
                var editPower  = [];
                layer.open({
                    type: 2
                    ,skin: 'layui-layer-rim' //加上边框
                    ,maxmin: true //开启最大化最小化按钮
                    ,area: ["500px","500px"]
                    ,title: "权限修改"
                    ,content:"/powerBoot/goPowerEdit"
                    ,success: function (layero,index) {
                        var body = layer.getChildFrame('body',index);
                        var iframeWin = window[layero.find('iframe')[0]['name']];
                        body.find("#power_Id").val(obj.data.power_Id)
                        body.find("#power_Name").val(obj.data.power_Name)
                        body.find("#power_url").val(obj.data.power_url)
                        body.find("#sort").val(obj.data.sort)
                        body.find("#power_parentid").val(obj.data.power_parentid)
                        body.find("#describe").text(obj.data.describe)
                        body.find("#power_state").prop("checked",obj.data.power_state == "1"?"checked":"");
                    }
                })
            }
        })


        $('#insertPower').on('click', function(){
            layer.open({
                type: 2
                ,skin: 'layui-layer-rim' //加上边框
                ,maxmin: true //开启最大化最小化按钮
                ,area: ["500px","500px"]
                ,title: "新增权限"
                ,content:"/powerBoot/goPowerInsert"
                ,success: function (layero,index) {
                }
            })
        });

        $("#edt-search").bind("input propertychange",function(){
            var keyword = $('#edt-search').val();
            console.log(keyword)
            queryPower(keyword)
        })


    })




    function queryPower(key) {
        treeGrid.query(tableId,{
            where:{
                key:key
            }
        });
    }
    function del(obj) {
        if (obj.data.power_Id!=5){
            layer.confirm("你确定删除数据吗？如果存在下级节点则一并删除，此操作不能撤销！", {icon: 3, title:'提示'},
                function(index){//确定回调
                    obj.del();
                    layer.close(index);
                    console.log(obj.data.power_Id)
                    delPower(obj.data.power_Id)
                },function (index) {//取消回调
                    layer.close(index);
                }
            );
        }else {
            layer.open({
                content: '此功能不可删除'
                , btn: ['确定']
                ,title:"警告"
                , yes: function (index, layero) {
                    layer.close(index);
                }
                , cancel: function () {
                    //return false 开启该代码可禁止点击该按钮关闭
                }
            })
        }

    }
    function  delPower(power_Id) {
        $.ajax({
            type: "post"
            , url: "/powerBoot/deletePower"
            , data: {
                "power_id": power_Id
            }
            , success: function (res) {
                console.log(res)
            }
        })
    }
    function reload() {
        treeGrid.reload(tableId,{
            page:{
                curr:1
            }
        });
    }
</script>
</body>
</html>