<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>角色管理</title>
<link type="text/css" th:href="@{/static/layui/css/layui.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/static/js/jquery-3.4.0.js}"></script>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
</head>
<body>
<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">添加角色：</label>
        <div class="layui-input-block">
            <input type="text" name="role_Name" required  lay-verify="required" placeholder="请输入角色名" autocomplete="off" class="layui-input" style="width: 150px;float: left;margin-right: 5px">
            <button class="layui-btn" lay-submit lay-filter="formDemo">添加</button>
        </div>
    </div>
</form>

<div class="layui-btn-group demoTable">
    <!--<button class="layui-btn" data-type="add">添加权限</button>-->
    <button class="layui-btn" data-type="batchDelete">批量删除</button>
</div>


<table class="layui-table" lay-data="{width: 900, url:'/roleManagement/allRoles', page:true, id:'idTest'}" lay-filter="demo">
    <thead>
    <tr>
        <th lay-data="{type:'checkbox', width:'10%', fixed: 'left'}"></th>
        <th lay-data="{field:'role_ID' , templet: '#xuhao', width:'20%', sort: true, fixed: true}">ID</th>
        <th lay-data="{field:'role_Name', width:'25%', align:'center'}">角色</th>
        <th lay-data="{fixed: 'right', width:'45%', align:'center', toolbar: '#barDemo'}">操作</th>
    </tr>
    </thead>
</table>

<!--操作-->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="detail">权限</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">添加权限</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>



<!--序号自增-->
<script type="text/html" id="xuhao">
    {{d.LAY_TABLE_INDEX+1}}
</script>


<script type="text/javascript">
    layui.use('table', function(){
        var table = layui.table;


        //监听工具条
        table.on('tool(demo)', function(obj){ //注：tool 是工具条事件名，demo 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var roleName = data.role_Name; //获得属性role_ID的值
            // console.log(roleId);
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

            if(layEvent === 'detail'){ //查看
                //do somehing
                //iframe层-父子操作
                layer.open({
                    type: 2,
                    title:'已有权限',
                    area: ['700px', '450px'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: '/roleManagement/checkPower',
                    success:function (layero,index) {
                        var iframe = window['layui-layer-iframe' + index];
                        iframe.child(data)
                    }
                });
            } else if(layEvent === 'del'){ //删除
                layer.confirm('真的删除行么', function(index){
                    //向服务端发送删除指令
                    $.ajax({
                        url:'/roleManagement/deleteTheRole',
                        type:'post',
                        data:{
                            role_Name: roleName
                        },
                        success:function (res) {
                            if (res.result=="操作成功"){
                                obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                layer.close(index);
                                layer.msg(res.result)
                            } else if (res.result=="操作失败") {
                                layer.msg(res.result);
                            }
                        },
                        error:function () {
                            layer.msg("异常");
                        }
                    })
                });
            } else if(layEvent === 'edit'){ //编辑
                //do something
                layer.open({
                    type: 2,
                    title:'可添加权限',
                    area: ['700px', '450px'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: '/roleManagement/goAddPower',
                    success:function (layero,index) {
                        var iframe = window['layui-layer-iframe' + index];
                        iframe.child(data)
                    }
                });
            }
        });


        //头部工具栏
        var $ = layui.$, active = {
            add: function(){ //获取选中数据
                // var checkStatus = table.checkStatus('idTest')
                //     ,data = checkStatus.data;
                // layer.alert(JSON.stringify(data));
            }
            ,batchDelete: function(){ //获取选中数目
                var checkStatus = table.checkStatus('idTest')
                    ,data = checkStatus.data;
                layer.msg('选中了：'+ data.length + ' 个');
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });

</script>

<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            // var rolename = JSON.stringify(data.field);
            $.ajax({
                url:'/roleManagement/insertRole',
                data:data.field,
                success:function (res) {
                    console.log("成功")
                }
            })
            // layer.msg(rolename);
            // return false;
        });
    });
</script>

</body>
</html>