<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>角色管理</title>
<link type="text/css" th:href="@{/static/layui/css/layui.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/static/js/jquery-3.4.0.js}"></script>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
</head>
<!--<style>-->
    <!--.layui-table-cell{-->
        <!--height:20px;-->
        <!--line-height: 20px;-->
    <!--}-->
<!--</style>-->
<body>

<!--表单-->
<form class="layui-form" >
        <div class="layui-form-item">
            <label class="layui-form-label">搜索</label>
            <div class="layui-input-inline">
                <input id="search" type="text" name="password" placeholder="搜索角色" class="layui-input">
            </div>
            <label class="layui-form-label">添加角色</label>
            <div class="layui-input-inline">
                <input type="text" name="role_Name" required lay-verify="required" placeholder="输入角色名" class="layui-input">
            </div>
            <button class="layui-btn" lay-submit lay-filter="formDemo">添加</button>
        </div>

</form>

<!--头部工具栏-->
<div class="layui-btn-group demoTable">
    <button class="layui-btn layui-btn-danger " data-type="batchDelete">批量删除</button>
</div>


<!--数据表格-->
<table id="demo" lay-filter="test"></table>

<!--行内工具条-->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="detail">权限</a>
    <a class="layui-btn layui-btn-xs" lay-event="add">添加权限</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

    <!-- 这里同样支持 laytpl 语法，如： -->
    {{#  if(d.auth > 2){ }}
    <a class="layui-btn layui-btn-xs" lay-event="check">审核</a>
    {{#  } }}
</script>

<!--序号自增-->
<script type="text/html" id="xuhao">
    {{d.LAY_TABLE_INDEX+1}}
</script>

<!--数据表格js-->
<script type="text/javascript">
    layui.use('table', function(){
        var table = layui.table;

        //监听表格复选框选择
        var content='';
        table.on('checkbox(test)', function(obj){
            console.log(obj.checked); //当前是否选中状态
            console.log(obj.data); //选中行的相关数据
            console.log(obj.type); //如果触发的是全选，则为：all，如果触发的是单选，则为：one
        });

        //数据表表头
        table.render({
            elem: '#demo'
            // ,height: 400
            ,url: '/roleManagement/allRoles' //数据接口
            ,page: true //开启分页
            ,cols: [
                [
                    {type: 'checkbox', fixed: 'left', width:'10%'}
                    //表头
                    ,{field: 'role_ID', templet: '#xuhao',title: '序号', width:'10%', sort: true, align: 'center'}
                    ,{field: 'role_Name', title: '角色', width:'50%', align: 'center'}
                    ,{title: '操作', fixed:'right', width: '30%', align: 'center', toolbar: '#barDemo'}
                ]
            ]
            // ,limits : [ 5,6,7,8,9,10 ] //控制多少行一页（默认五条一页）
            // ,limit : 5 //每页默认显示的数量
        });


        //监听工具条
        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
            var roleName = data.role_Name; //获得属性role_Name的值

            if(layEvent === 'detail'){ //查看角色权限
                //do somehing
                //iframe层-父子操作
                layer.open({
                    type: 2,
                    title:'已有权限',
                    area: ['700px', '450px'],
                    fixed: false, //不固定
                    maxmin: true,
                    scrollbar: false,
                    content: '/roleManagement/checkPower',
                    success:function (layero,index) {
                        var iframe = window['layui-layer-iframe' + index];
                        iframe.child(data)
                    }
                });
            } else if(layEvent === 'del'){ //删除角色
                layer.confirm('真的删除该角色么', function(index){
                    //向服务端发送删除指令
                    $.ajax({
                        url:'/roleManagement/deleteTheRole',
                        type:'post',
                        data:{
                            role_Name: roleName
                        },
                        success:function (res) {
                            if (res.result=="操作成功"){

                                //操作成功后继续显示当前页数据
                                $(".layui-laypage-btn").click();
                                layer.msg(res.result);
                            } else if (res.result=="操作失败") {
                                layer.msg(res.result);
                            }
                        },
                        error:function () {
                            layer.msg("异常");
                        }
                    })
                });
            } else if(layEvent === 'add'){ //添加角色权限
                //do something

                layer.open({
                    type: 2,
                    title:'可添加权限',
                    area: ['700px', '450px'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: '/roleManagement/goAddPower',
                    success:function (layero,index) {
                        var iframe = window['layui-layer-iframe' + index];
                        iframe.child(data)
                    }
                });

                //同步更新缓存对应的值
                obj.update({
                    username: '123'
                    ,title: 'xxx'
                });
            } else if(layEvent === 'LAYTABLE_TIPS'){
                layer.alert('Hi，头部工具栏扩展的右侧图标。');
            }
        });


        //头部按钮
        var $ = layui.$, active = {
            batchDelete: function(){ //批量删除
                var checkStatus = table.checkStatus('demo')
                    ,data = checkStatus.data;
                // layer.msg('选中了：'+ data.length + ' 个');

                if (data.length == 0){
                    layer.msg("请选择将要删除的数据行", {icon: 2});
                    return ;
                }
                var codeName="";
                for(var i=0;i<data.length;i++){
                    codeName += data[i].role_Name+",";
                    // console.log(codeId);
                }

                layer.confirm("您确定要删除吗？",function(){
                    $.ajax({
                        type:"POST",
                        url: '/roleManagement/deleteRoles',
                        data:{"codeName":codeName},
                        success:function (data) {
                            layer.closeAll('loading');
                            if(data.code==1){
                                layer.msg("删除成功", { shift: -1 , time: 1200 , icon: 1}, function () {
                                    location.reload(true);
                                });
                            }else{
                                layer.msg('删除失败', {icon: 2,time:3000,shade:0.2});
                            }
                        }
                    })
                })
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });


    });

</script>


<!--表单提交-->
<script>
    //Demo
    layui.use(['form','table'], function(){
        var form = layui.form;
        var table = layui.table;

        //监听提交
        form.on('submit(formDemo)', function(data){
            // var rolename = JSON.stringify(data.field);
            console.log(data.field);
            $.ajax({
                url:'/roleManagement/insertRole',
                data:data.field,
                success:function (res) {
                    // console.log("成功")
                    // layer.msg("成功")
                    if (res.result == '操作成功') {
                        layer.msg(res.result);
                        //    操作成功执行方法重载
                        table.reload('demo', {
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        });

                    }else{
                        layer.msg(res.result);
                    }
                },
                error:function () {
                    console.log("异常")
                }
            })
            return false;
        });


        //角色搜索
        $("#search").bind("input propertychange",function(){
            var role_Name = $(this).val();
            // 数据表表头
            table.render({
                elem: '#demo'
                // ,height: 400
                ,url: '/roleManagement/searchRole' //数据接口
                ,where:{
                    role_Name:role_Name
                }
                ,page: true //开启分页
                ,cols: [
                    [
                        {type: 'checkbox', fixed: 'left', width:'10%'}
                        //表头
                        ,{field: 'role_ID', templet: '#xuhao',title: '序号', width:'10%', sort: true, align: 'center'}
                        ,{field: 'role_Name', title: '角色', width:'50%', align: 'center'}
                        ,{title: '操作', fixed:'right', width: '30%', align: 'center', toolbar: '#barDemo'}
                    ]
                ]
            });
            return false;
        })

    });


</script>
</body>
</html>