<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" th:href="@{/static/layui/css/layui.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/static/js/jquery-3.4.0.js}"></script>
    <script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
</head>
<body>
<!--头部工具栏-->
<div class="layui-btn-group demoTable" style="margin: 10px 0 0 10px">
    <button class="layui-btn  layui-btn-sm" data-type="batchAdd">批量添加</button>
</div>

<table id="demo" lay-filter="test"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="add">添加</a>

    <!-- 这里同样支持 laytpl 语法，如： -->
    {{#  if(d.auth > 2){ }}
    <a class="layui-btn layui-btn-xs" lay-event="check">审核</a>
    {{#  } }}
</script>

<!--序号自增-->
<script type="text/html" id="xuhao">
    {{d.LAY_TABLE_INDEX+1}}
</script>

<script>
    var roleID;
    function child(obj){
        roleID=obj.role_ID;

        layui.use('table', function(){
            var table = layui.table;
            // child();
            console.log(roleID);

            //数据表表头
            table.render({
                elem: '#demo'
                ,url: '/roleManagement/selectUnauthorizedPower' //数据接口
                ,where: {
                    role_ID:roleID
                } //设定异步数据接口的额外参数
                ,page: true //开启分页
                ,cols: [
                    [
                        //复选框，fixed为固定位置，即该复选框永远在表格最左侧，同理下面的行内工具栏永远在最右侧
                        {type: 'checkbox',width:'10%', fixed: 'left'}
                        //表头
                        ,{field: 'power_Id', templet: '#xuhao',title: '序号', width:'20%', sort: true, fixed: 'left', align: 'center'}
                        ,{field:'power_Name',  title: '权限', width:'25%', align: 'center'}
                        ,{title: '操作', width: '45%', align: 'center', toolbar: '#barDemo'}
                    ]
                ]
            })

            //监听工具条
            table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
                var powerId = data.power_Id; //获得属性role_ID的值

                if(layEvent === 'add'){ //添加权限
                    layer.confirm('真的删除行么', function(index){
                        //向服务端发送删除指令
                        $.ajax({
                            url:'/roleManagement/insertRolePower',
                            type:'post',
                            data:{
                                role_Id: roleID,
                                power_Id:powerId
                            },
                            success:function (res) {
                                if (res.result=="操作成功"){
                                    // obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                    // layer.close(index);

                                    //操作成功后继续显示当前页数据
                                    $(".layui-laypage-btn").click();
                                    layer.msg(res.result)
                                } else if (res.result=="操作失败") {
                                    layer.msg(res.result);
                                }
                            },
                            error:function () {
                                layer.msg("异常");
                            }
                        })
                    });
                }
            });

            //头部按钮
            var $ = layui.$, active = {
                batchAdd: function(){ //批量添加角色权限
                    var checkStatus = table.checkStatus('demo')
                        ,data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    console.log(data)
                    if (data.length == 0){
                        layer.msg("请选择将要添加的数据行", {icon: 2});
                        return ;
                    }
                    var codeId="";
                    for(var i=0;i<data.length;i++){
                        codeId += data[i].power_Id+",";
                        console.log(codeId);
                        console.log(roleID);
                    }
                    // layer.msg('删除中...', {icon: 16,shade: 0.3,time:5000});

                    layer.confirm("您确定要添加吗？",function(){
                        $.ajax({
                            type:"POST",
                            url: '/roleManagement/insertThePowers',
                            data:{
                                "codeId":codeId,
                                "role_Id":roleID
                            },
                            success:function (data) {
                                layer.closeAll('loading');
                                if(data.code==1){
                                    layer.msg("添加成功", { shift: -1 , time: 1200 , icon: 1}, function () {
                                        location.reload(true);
                                    });
                                }else{
                                    layer.msg('添加失败', {icon: 2,time:3000,shade:0.2});
                                }
                            }
                        })
                    })
                }
            };
            $('.demoTable .layui-btn').on('click', function(){
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

        });
    };



</script>
</body>
</html>