<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohua.springbootpingjiao.mapper.BatchMapper">
    <!--查找所有批次-->
    <select id="SelectBatch" resultType="com.xiaohua.springbootpingjiao.entity.Batch">
        select * from batch where batch_State = '1' limit #{pages},#{limit}
    </select>
    <!--查找所有批次数量-->
    <select id="SelectBatchCount" resultType="int">
        select count(*) from batch where batch_State = '1'
    </select>
    <!--根据批次名模糊搜索-->
    <select id="SelectBatchName" resultType="com.xiaohua.springbootpingjiao.entity.Batch">
        select * from batch where batch_name like concat('%',#{batch_Name},'%') and batch_State = '1' limit #{pages},#{limit}
    </select>
    <!--根据批次名模糊搜索的数量-->
    <select id="SelectBatchNameCount" parameterType="String" resultType="int">
        select count(*) from batch where batch_name like concat('%',#{batch_Name},'%') and batch_State = '1'
    </select>
    <!--增加批次-->
    <insert id="InsertBatch" parameterType="String">
        INSERT INTO batch (batch_name) VALUES (#{batch_Name})
    </insert>
    <!--判断具体某个批次是否存在-->
    <select id="SelectBatchOne" parameterType="String" resultType="int" >
        select count(*) from batch where batch_name = #{batch_Name} and batch_State = '1'
    </select>
    <!--修改批次状态为开启-->
    <update id="ModifyOpenBatch" parameterType="int">
        update batch set batch_hide = 1 where batch_id = #{batch_Id}
    </update>
    <!--修改批次状态为暂停-->
    <update id="ModifySuspendBatch" parameterType="int">
        update batch set batch_hide = 2 where batch_id = #{batch_Id}
    </update>
    <!--修改批次状态为结束-->
    <update id="ModifyEndBatch" parameterType="int">
        update batch set batch_hide = 3 where batch_id = #{batch_Id}
    </update>
    <!--删除某个批次-->
    <update id="DeleteOneBatch" parameterType="int">
        update batch set batch_state = '0' where batch_id = #{batch_Id}
    </update>
    <!--
    //复制问卷ID为1的指标到历史指标表中
     INSERT INTO targethistory(target_id,target_name,target_weight,papers_id) (SELECT t.target_id,t.target_name,t.target_weight,ps.papers_id FROM target as t  join paperstarget as ps on t.target_id = ps.target_id where ps.papers_id = 1)
     将指标转化成100分制存入历史表中
     INSERT INTO targethistory(target_id,target_name,target_weight,papers_id) SELECT  t.target_id,t.target_name,ROUND(ps.target_allweight/( select sum(target_allweight) as target_Num  from paperstarget where papers_id = 1)*100,2) as taget_weight,ps.papers_id FROM target as t  join paperstarget as ps on t.target_id = ps.target_id where ps.papers_id = 1

    -->
    <!--复制问卷ID为1的选项到历史选项表中
    insert into optionshistory (papers_id,target_id,options_id,options_content,options_weight) select ps.papers_id,ps.target_id,op.options_id,op.options_content,op.options_weight from (options as op join targetoptions as tao on op.options_id = tao.options_id )join  paperstarget as ps on tao.target_id = ps.target_id where ps.papers_id = 1
    -->

    <!--判断是否有批次开启
    select batch_id  from batch where batch_hide = '1'   -->
    <select id="IfBatchOpen" resultType="String">
        select batch_id from batch where batch_hide = '1'
    </select>
    <!--复制问卷的指标到历史指标表中-->
    <insert id="CopyTarget" parameterType="int">
           INSERT INTO targethistory(target_id,target_name,target_weight,papers_id) SELECT  t.target_id,t.target_name,ROUND(ps.target_allweight/( select sum(target_allweight) as target_Num  from paperstarget where papers_id = #{papers_Id})*100,2) as taget_weight,ps.papers_id FROM target as t  join paperstarget as ps on t.target_id = ps.target_id where ps.papers_id = #{papers_Id}
    </insert>
    <!--复制问卷的选项到历史循选项表中-->
    <insert id="CopyOptions" parameterType="int">
           insert into optionshistory (papers_id,target_id,options_id,options_content,options_weight) select ps.papers_id,ps.target_id,op.options_id,op.options_content,op.options_weight from (options as op join targetoptions as tao on op.options_id = tao.options_id )join  paperstarget as ps on tao.target_id = ps.target_id where ps.papers_id = #{papers_Id}
    </insert>
    <!--查询某批次下的所有问卷-->
    <select id="SelectBatchPapers">
        select papers_id from papers where batch_id =1
    </select>

</mapper>
