<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohua.springbootpingjiao.mapper.ClassMapper">

    <resultMap id="classResultMap" type="com.xiaohua.springbootpingjiao.entity.Class">
        <id property="class_Id" column="class_id"></id>
        <result property="departments_id" column="departments_id"></result>
        <result property="class_Name" column="class_name"></result>
        <result property="class_amount" column="class_amount"></result>
        <!--<association property="departments" column="departments"></association>-->
        <collection property="departments" ofType="com.xiaohua.springbootpingjiao.entity.Departments" column="departments_id">
            <id property="departments_Id" column="departments_id"></id>
            <result property="departments_Name" column="departments_Name"></result>
        </collection>
    </resultMap>
    
    <resultMap id="departmentsResuMap" type="com.xiaohua.springbootpingjiao.entity.Departments">
        <id property="departments_Id" column="departments_id"></id>
        <result property="departments_Name" column="departments_name"></result>
    </resultMap>


    <select id="selectAllClass" resultType="HashMap">
        select class.class_id,class.class_name,departments.departments_name from class left join departments
         on class.departments_id=departments.departments_id  where class_amount=1 limit #{pages},#{limit}
    </select>

    <!--查询所有班级-->
    <select id="selectAllClassCount" resultType="com.xiaohua.springbootpingjiao.entity.Class">
        select * from class where class_amount=1
    </select>

    <!--查询所有院系-->
    <select id="queryAllDepartments" resultMap="departmentsResuMap">
        select * from departments
    </select>

    <!--查询院系ID-->
    <select id="selectDepartId" resultType="String">
        SELECT * FROM departments where departments_name = #{departments_Name}
    </select>
    <!--重载指定院系id查找班级-->
    <select id="selectClassWhereDepartId" resultType="HashMap">
          select class.class_id,class.class_name,departments.departments_name from class left join departments on class.departments_id=departments.departments_id WHERE departments.departments_id=#{departments_id} and
          class.class_amount=1
    </select>

    <!--重载指定班级编号查找班级-->
    <select id="selectClassWhereClassId" resultType="HashMap">
 select class.class_id,class.class_name,departments.departments_name from class left join departments on class.departments_id=departments.departments_id
WHERE class.class_id like concat('%',#{class_Id},'%') and  class.class_amount=1
    </select>
    <!--重载指定院系班级编号查找班级-->
    <select id="selectClassWhereCdId" resultType="HashMap">
 select class.class_id,class.class_name,departments.departments_name from class left join departments on class.departments_id=departments.departments_id
WHERE class.class_id like concat('%',#{class_Id},'%') and  class.class_amount=1 and class.departments_id=#{departments_id}
    </select>

    <!--添加班级-->
    <insert id="insertClass" parameterType="com.xiaohua.springbootpingjiao.entity.Class">
        INSERT INTO class ( class_id,class_name,departments_id)VALUES (#{class_Id},#{class_Name},#{departments_id});
    </insert>

    <update id="deleteClass" parameterType="com.xiaohua.springbootpingjiao.entity.Class">
        UPDATE class SET class_amount = 0 WHERE class_id =#{class_Id}
    </update>

</mapper>
