<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohua.springbootpingjiao.mapper.CourseMapper">


<!--查找所有课程-->
    <select id="SelectCourseAll" resultType="com.xiaohua.springbootpingjiao.entity.Courses">
        select * from Courses where courses_state = '1' limit #{pages},#{limit}
    </select>
    <!--查找所有课程数量-->
    <select id="SelectCourseCount" resultType="int">
        select count(*) from Courses where courses_state = '1'
    </select>
    <!--查找具体一门课程-->
    <select id="SelectCourseOne" parameterType="String" resultType="int">
        select count(*) from Courses where courses_name = #{courses_Name} AND courses_state = '1'
    </select>
    <!--增加课程-->
    <insert id="insertCourses" parameterType="String">
        INSERT INTO courses (courses_name) VALUES (#{courses_Name})
    </insert>
    <!--查找所有教师ID和NAME-->
    <select id="SelectTeachUser" resultType="com.xiaohua.springbootpingjiao.entity.User">
       select u.user_Id,u.user_Name from user as u join userrole as ur on u.user_id =
       ur.user_id where ur.role_id = (select role_id from role where role_name ='教师' and role_state='1')
    </select>
    <!--修改课程状态量为删除-->
    <update id="deleteTheCourse" parameterType="com.xiaohua.springbootpingjiao.entity.Courses">
        update courses set courses_state = '0' where courses_id=#{courses_Id}
    </update>
    <!--查找所有授课信息-->
    <!--<select id="SelectTeachAll" resultType="com.xiaohua.springbootpingjiao.entity.Teach">-->
        <!--select * from Teach-->
    <!--</select>-->
    <!--查找所有授课信息-->
    <resultMap type="com.xiaohua.springbootpingjiao.entity.Teach" id="SomeTeachMap">
        <id property="teach_id" column="teach_id"/>
        <collection property="classs"  ofType="com.xiaohua.springbootpingjiao.entity.Class">
            <result property="class_Name" column="class_name"/>
        </collection>
        <collection property="users"  ofType="com.xiaohua.springbootpingjiao.entity.User">
            <result property="user_Name" column="user_name"/>
        </collection>
        <collection property="coursess"  ofType="com.xiaohua.springbootpingjiao.entity.Courses">
            <result property="courses_Name" column="courses_name"/>
        </collection>
    </resultMap>
    <!--查询授课信息-->
    <select id="SelectTeachAll"  resultType="com.xiaohua.springbootpingjiao.entity.TeachData" >
     select t.teach_id,c.class_name,u.user_name,courses.courses_name from Teach as t left join
      class as c on t.class_id = c.class_id left join user as u on t.user_id = u.user_id join
      courses on courses.courses_id = t.courses_id limit #{pages},#{limit}
    </select>
    <!--查询具体一门课程授课信息-->
    <select id="SelectTeachCourseOne" resultType="com.xiaohua.springbootpingjiao.entity.TeachData" >
     select t.teach_id,c.class_name,u.user_name,courses.courses_name from Teach as t left join
      class as c on t.class_id = c.class_id left join user as u on t.user_id = u.user_id join
      courses on courses.courses_id = t.courses_id where t.courses_id = #{courses_id} limit #{pages},#{limit}
    </select>
    <!--根据班级查询具体一门课程授课信息-->
    <select id="SelectTeachCourseOneInClass" resultType="com.xiaohua.springbootpingjiao.entity.TeachData" >
     select t.teach_id,c.class_name,u.user_name,courses.courses_name from Teach as t left join
      class as c on t.class_id = c.class_id left join user as u on t.user_id = u.user_id join
      courses on courses.courses_id = t.courses_id where c.class_name = #{class_name} and t.courses_id = #{courses_id} limit #{pages},#{limit}
    </select>
    <!--根据班级查询具体一门课程授课信息数量-->
    <select id="SelectTeachCourseOneInClassCount" resultType="int" >
     select count(*) from Teach as t left join
      class as c on t.class_id = c.class_id left join user as u on t.user_id = u.user_id join
      courses on courses.courses_id = t.courses_id where t.class_name = #{class_name} and t.courses_id = #{courses_id}
    </select>
    <!--查询具体一门课程授课信息数量-->
    <select id="SelectTeachCourseOneCount" parameterType="String" resultType="int" >
     select count(*) from Teach as t left join
      class as c on t.class_id = c.class_id left join user as u on t.user_id = u.user_id join
      courses on courses.courses_id = t.courses_id where t.courses_id = #{courses_id}
    </select>
    <!--查询授课信息数量-->
    <select id="SelectTeachCount"  resultType="int" >
     select count(*) from teach
    </select>
    <!--查询具体一门授课信息-->
    <select id="SelectTeachOne" parameterType="com.xiaohua.springbootpingjiao.entity.Courses" resultType="com.xiaohua.springbootpingjiao.entity.TeachData" >
     select t.teach_id,c.class_name,u.user_name,courses.courses_name from Teach as t left join
      class as c on t.class_id = c.class_id left join user as u on t.user_id = u.user_id join
      courses on courses.courses_id = t.courses_id where courses.courses_name = #{courses_name} limit #{pages},#{limit}
    </select>
    <!--查询具体一门授课信息数量-->
    <select id="SelectTeachOneCount" parameterType="com.xiaohua.springbootpingjiao.entity.Courses" resultType="int" >
       select count(*) from Teach as t left join
    courses on courses.courses_id = t.courses_id where courses.courses_name = #{courses_name}
    </select>

    <!--修改授课信息-->
    <update id="EditTeach" parameterType="com.xiaohua.springbootpingjiao.entity.Teach" >
        update teach set user_id = #{user_Id},class_id=#{class_ID} where teach_id=#{teach_id}
    </update>
    <!--新增授课信息-->
    <insert id="AddTeach" parameterType="com.xiaohua.springbootpingjiao.entity.Teach" >
        INSERT INTO teach (user_id,courses_id,class_id) VALUES (#{user_Id},#{courses_Id},#{class_ID})
    </insert>
</mapper>
