<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohua.springbootpingjiao.mapper.CourseMapper">

    <resultMap id="BaseResultMap" type="com.xiaohua.springbootpingjiao.entity.Courses">
        <result column="courses_Id" jdbcType="INTEGER" property="id" />
        <result column="courses_Name" jdbcType="VARCHAR" property="name" />
    </resultMap>
<!--查找所有课程-->
    <select id="SelectCourseAll" resultType="com.xiaohua.springbootpingjiao.entity.Courses">
        select * from Courses where courses_state = '0'
    </select>
    <!--查找具体一门课程-->
    <select id="SelectCourseOne" parameterType="String" resultType="int">
        select count(*) from Courses where courses_name = #{courses_Name} AND courses_state = '0'
    </select>
    <insert id="insertCourses" parameterType="String">
        INSERT INTO courses (courses_name) VALUES (#{courses_Name})
    </insert>

    <!--修改课程状态量为删除-->
    <update id="deleteTheCourse" parameterType="com.xiaohua.springbootpingjiao.entity.Courses">
        update  courses set courses_state = '1' where courses_id=#{courses_Id}
    </update>
    <!--查找所有授课信息-->
    <!--<select id="SelectTeachAll" resultType="com.xiaohua.springbootpingjiao.entity.Teach">-->
        <!--select * from Teach-->
    <!--</select>-->
    <!--查找所有授课信息-->
    <resultMap type="com.xiaohua.springbootpingjiao.entity.Teach" id="SomeTeachMap">
        <id property="teach_id" column="teach_id"/>
        <collection property="classs"  ofType="com.xiaohua.springbootpingjiao.entity.Class">
            <result property="class_Name" column="class_name"/>
        </collection>
        <collection property="users"  ofType="com.xiaohua.springbootpingjiao.entity.User">
            <result property="user_Name" column="user_name"/>
        </collection>
        <collection property="coursess"  ofType="com.xiaohua.springbootpingjiao.entity.Courses">
            <result property="courses_Name" column="courses_name"/>
        </collection>
    </resultMap>
    <!--查询授课信息-->
    <select id="SelectTeachAll" resultType="com.xiaohua.springbootpingjiao.entity.TeachData" >
     select t.teach_id,c.class_name,u.user_name,courses.courses_name from Teach as t left join
      class as c on t.class_id = c.class_id left join user as u on t.user_id = u.user_id join
      courses on courses.courses_id = t.courses_id
    </select>

</mapper>
