<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohua.springbootpingjiao.mapper.OneselfEvaluationMapper">
    <!--生成自我评教的页面-->
    <select id="selectOneselfEvaluation" resultType="HashMap">
       select b.batch_name,ps.papers_id,cs.courses_name from user u
         left join user uu on u.departments_id=uu.departments_id
         left join teach t on t.user_id=u.user_id
         left join courses cs on cs.courses_id=t.courses_id
         left join userrole ur on ur.user_id=u.user_id
         left join papers ps on ur.role_id=ps.role_id
         left join batch b on b.batch_id=ps.batch_id
       where u.user_id=#{user_id} and u.user_id!=uu.user_id  group by courses_name
    </select>

    <!--动态生成批次搜索下拉框-->
    <select id="selectBatchName" resultType="com.xiaohua.springbootpingjiao.entity.Batch">
        select * from batch
    </select>

    <!--根据批次模糊搜索-->
    <select id="selectBatchIdOneselfEvaluation" resultType="HashMap">
        select b.batch_name,ps.papers_id,cs.courses_name from user u
          left join user uu on u.departments_id=uu.departments_id
          left join teach t on t.user_id=u.user_id
          left join courses cs on cs.courses_id=t.courses_id
          left join userrole ur on ur.user_id=u.user_id
          left join papers ps on ur.role_id=ps.role_id
          left join batch b on b.batch_id=ps.batch_id
        where b.batch_id=#{batch_id} and u.user_id!=uu.user_id group by courses_name
    </select>
</mapper>
