<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohua.springbootpingjiao.mapper.OnlineEvaluationMapper">
    <resultMap id="evaluationMap" type="com.xiaohua.springbootpingjiao.entity.TargetOptins">
        <id property="target_Id" column="target_id"></id>
        <result property="target_Name" column="target_name"></result>
        <result property="options_Content" column="options_content"></result>
        <result property="options_Id" column="options_id"></result>

    </resultMap>
    <!--生成试卷-->
    <select id="selectOnlineEvaluation" resultMap="evaluationMap">
        select t.target_id,t.target_name,os.options_content,os.options_id from paperstarget pts
          left join target t on pts.target_id=t.target_id
          left join targetoptions tps on tps.target_id=t.target_id
          left join options os on os.options_id=tps.options_id
        where pts.papers_id=#{papers_id}
    </select>
</mapper>