<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohua.springbootpingjiao.mapper.QuestionnaireMapper">

    <!--查询问卷信息-->
    <select id="selectQuestionnaire" resultType="HashMap">
    select b.batch_name,b.batch_hide,p.papers_name,r.role_name ,p.papers_id from batch b
    left join papers p on b.batch_id=p.batch_id
    left join role r on p.role_id=r.role_id
    where oapers_visible=1 limit #{pages},#{limit}
   </select>
    <!--分页-->
    <select id="selectQuestionnaireCount" resultType="HashMap">
    select b.batch_name,b.batch_hide,p.papers_name,r.role_name ,p.papers_id from batch b
    left join papers p on b.batch_id=p.batch_id
    left join role r on p.role_id=r.role_id
    where oapers_visible=1
   </select>


    <!--查询批次-->
    <select id="selectbatch" resultType="HashMap">
      select batch_id,batch_name from batch
   </select>
   <!--查询角色-->
    <select id="selectuser" resultType="HashMap">
  select role_id,role_name from role where role_state=1 and role_name!="管理员"
   </select>
<!--查询问卷角色重载表格-->
    <select id="selectQuestionnaireinName" resultType="HashMap">
   select b.batch_name,b.batch_hide,p.papers_name,r.role_name ,p.papers_id from batch b
    left join papers p on b.batch_id=p.batch_id
    left join role r on p.role_id=r.role_id
    where oapers_visible=1 and papers_name like concat('%',#{papers_name},'%') limit #{pages},#{limit}
   </select>
    <!--分页-->
    <select id="selectQuestionnaireinNameCount" resultType="HashMap">
   select b.batch_name,b.batch_hide,p.papers_name,r.role_name ,p.papers_id from batch b
    left join papers p on b.batch_id=p.batch_id
    left join role r on p.role_id=r.role_id
    where oapers_visible=1 and papers_name like concat('%',#{papers_name},'%')
   </select>
<!--通过批次重载-->
    <select id="selectQuestionnaireinBatch" resultType="HashMap">
   select b.batch_name,b.batch_hide,p.papers_name,r.role_name ,p.papers_id from batch b
    left join papers p on b.batch_id=p.batch_id
    left join role r on p.role_id=r.role_id
    where oapers_visible=1 and b.batch_id=#{batch_id} limit #{pages},#{limit}
   </select>
    <!--分页-->
    <select id="selectQuestionnaireinBatchCount" resultType="HashMap">
   select b.batch_name,b.batch_hide,p.papers_name,r.role_name ,p.papers_id from batch b
    left join papers p on b.batch_id=p.batch_id
    left join role r on p.role_id=r.role_id
    where oapers_visible=1 and b.batch_id=#{batch_id}
   </select>

    <!--通过角色重载-->
    <select id="selectQuestionnaireinRoleid" resultType="HashMap">
   select b.batch_name,b.batch_hide,p.papers_name,r.role_name ,p.papers_id from batch b
    left join papers p on b.batch_id=p.batch_id
    left join role r on p.role_id=r.role_id
    where oapers_visible=1 and p.role_id=#{role_id} limit #{pages},#{limit}
   </select>
    <!--分页-->
    <select id="selectQuestionnaireinRoleidCount" resultType="HashMap">
   select b.batch_name,b.batch_hide,p.papers_name,r.role_name ,p.papers_id from batch b
    left join papers p on b.batch_id=p.batch_id
    left join role r on p.role_id=r.role_id
    where oapers_visible=1 and p.role_id=#{role_id}
   </select>


    <!--通过批次和角色重载-->
    <select id="selectQuestionnaireinBR" resultType="HashMap">
   select b.batch_name,b.batch_hide,p.papers_name,r.role_name ,p.papers_id from batch b
    left join papers p on b.batch_id=p.batch_id
    left join role r on p.role_id=r.role_id
    where oapers_visible=1 and p.role_id=#{role_id}  and b.batch_id=#{batch_id} limit #{pages},#{limit}
   </select>
    <!--分页-->
    <select id="selectQuestionnaireinBRCount" resultType="HashMap">
   select b.batch_name,b.batch_hide,p.papers_name,r.role_name ,p.papers_id from batch b
    left join papers p on b.batch_id=p.batch_id
    left join role r on p.role_id=r.role_id
    where oapers_visible=1 and p.role_id=#{role_id} and b.batch_id=#{batch_id}
   </select>


 <!--删除问卷-->
 <update id="deletePapers" parameterType="com.xiaohua.springbootpingjiao.entity.Papers">
       UPDATE papers SET oapers_visible = 0 WHERE papers_Id =#{papers_Id}
    </update>


<!--查询根目录-->
 <select id="selectTarget" resultType="HashMap">
    select target_id,target_name,target_weight ,leafs_id from target where parent_id=#{parent_Id} and hides=1
   </select>
<!--查询指标-->
    <select id="selectTargetzhi" resultType="HashMap">
    select target_id,target_name,target_weight from target where parent_id=#{parent_Id} and hides=1 and leafs_id=-1
   </select>

    <!--查询选项-->
    <select id="selectOptions" resultType="HashMap">
   select options_content,options_weight from  targetoptions t left join options o on t.options_id=o.options_id where target_id=#{target_Id}and state=1
   </select>

    <!--插入问卷-->
    <insert id="insertPapers" parameterType="com.xiaohua.springbootpingjiao.entity.Papers">
        INSERT INTO papers ( role_id,batch_id,papers_name)VALUES (#{role_Id},#{batch_Id},#{papers_Name});
    </insert>
    <!--插入指标-->
    <insert id="insertTarget" parameterType="com.xiaohua.springbootpingjiao.entity.Paperstarget">
      INSERT INTO paperstarget (papers_Id,target_Id,target_allweight)VALUES (#{papers_Id},#{target_Id});
    </insert>

</mapper>
