<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohua.springbootpingjiao.mapper.QuestionnaireMapper">
    <select id="selectQuestionnaire" resultType="HashMap">
    select b.batch_name,b.batch_hide,p.papers_name,r.role_name from batch b
    left join papers p on b.batch_id=p.batch_id
    left join role r on p.role_id=r.role_id
    where oapers_visible=1 limit #{pages},#{limit}
</select>



</mapper>
