<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohua.springbootpingjiao.mapper.RoleMapper">


    <!--查询所有角色-->
    <select id="selectAllRoles" resultMap="allRolesMap">
        select * from role where role_state=1;
    </select>
    <resultMap id="allRolesMap" type="com.xiaohua.springbootpingjiao.entity.Role">
        <result column="role_id" property="role_ID"></result>
        <result column="role_name" property="role_Name"></result>
        <result column="status" property="status"></result>
    </resultMap>
    <!--查询一页角色数据-->
    <select id="selectOnePageRoles" resultMap="allRolesMap">
        select * from role where role_state=1 limit #{thePage},#{limit};
    </select>

    <!--角色查询（模糊查询）-->
    <select id="searchRole" parameterType="String" resultMap="allRolesMap">
        select * from role where role_name like CONCAT('%',#{role_Name},'%') and role_state=1;
    </select>
    <!--角色查询（模糊查询-每页显示数据条数）-->
    <select id="searchTheOnePageRole"  resultMap="allRolesMap">
        select * from role where role_name like CONCAT('%',#{role_Name},'%') and role_state=1 limit #{thePage},#{limit};
    </select>

    <!--新增角色（1.1、查询是否存在相同角色）-->
    <select id="selectTheRole" parameterType="String" resultType="int">
        select IFNULL(MAX(role_id),0) AS role_id from role where role_name=#{role_Name} and role_state=1;
    </select>
    <!--新增角色（1.2.1、如果角色不存在，插入角色）-->
    <insert id="insertRole" parameterType="String">
        insert into role(role_name) value (#{role_Name});
    </insert>

    <!--删除角色-->
    <update id="deleteTheRole" parameterType="String">
        update role set role_state='0' where role_name=#{role_Name} and role_state=1;
    </update>

    <!--查看角色拥有的权限-->
    <select id="selectThePower" resultMap="thePowerMap">
        select r.*,rp.*,p.*
        from role r
                 join rolepower rp
                      on r.role_id = rp.role_id
                 join power p
                      on p.power_id = rp.power_id
        where r.role_id=#{role_ID} and rp.power_state=1 order by p.power_Id, p.sort ;
    </select>
    <resultMap id="thePowerMap" type="com.xiaohua.springbootpingjiao.entity.Power">
        <id property="power_Id" column="power_id"></id>
        <result property="power_Name" column="power_name"></result>
        <result property="power_url" column="power_url"></result>
    </resultMap>

    <!--树(查询角色拥有的权限)-->
    <!--<select id="getTreeList" parameterType="int" resultMap="thePowerMap">-->
        <!--select r.*,rp.*,p.*-->
        <!--from role r-->
                 <!--join rolepower rp-->
                      <!--on r.role_id = rp.role_id-->
                 <!--join power p-->
                      <!--on p.power_id = rp.power_id-->
        <!--where r.role_id=#{role_ID} and rp.power_state=1 order by p.power_Id, p.sort-->
    <!--</select>-->


    <!--zTree（查询所有权限）-->
    <select id="selectAllPower" resultMap="thePowerMap">
        select * from power order by power_id,sort;
    </select>

    <!--查询角色被删除的权限（角色拥有的权限，但状态值为0）-->
    <select id="selectTheDeletePower" resultMap="thePowerMap">
        select * from rolepower where role_id=#{role_Id} and power_state=0;
    </select>


    <!--增加角色权限（角色权限不存在于中间表时）-->
    <insert id="insertRolePower" parameterType="int">
        insert into rolepower(role_id,power_id) value (#{role_Id},#{power_Id});
    </insert>
    <!--增加角色权限（角色被删除的权限，恢复状态值为1）-->
    <update id="updateTheDeletePowerTest" parameterType="int">
        update  rolepower set power_state='1' where role_id = #{role_Id} and power_id=#{power_Id};
    </update>


    <!--删除角色权限（将角色拥有的权限状态值改为0）-->
    <update id="deleteThePowerTest" parameterType="int">
        update  rolepower set power_state='0' where role_id=#{role_Id} and power_state=1;
    </update>



</mapper>