<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohua.springbootpingjiao.mapper.SelectOnlineEvaluationMapper">
    <!--查询答案-->
    <select id="selectEvaluationAnswers" resultType="com.xiaohua.springbootpingjiao.entity.Fraction">
        select * from fraction where rater=#{rater} and gradeds=#{gradeds} and papers_id=#{papers_id} and courses_id=#{courses_id}
    </select>
</mapper>