<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohua.springbootpingjiao.mapper.TargetMapper">
    <!---->
    <resultMap id="targetResultMap" type="com.xiaohua.springbootpingjiao.entity.Target">
        <id property="target_Id" column="target_id"></id>
        <result property="target_Name" column="target_name"></result>
        <result property="target_Weight" column="target_weight"></result>
        <result property="parent_Id" column="parent_id"></result>
        <result property="leafs_Id" column="leafs_id"></result>
        <result property="hides_Id" column="hides"></result>
    </resultMap>

    <resultMap id="optionResultMap" type="com.xiaohua.springbootpingjiao.entity.Options">
        <id property="options_Id" column="options_id"></id>
        <result property="options_Content" column="options_content"></result>
        <result property="options_Weight" column="options_weight"></result>
    </resultMap>

    <!--查询是否有批次已开启-->
    <select id="selectBatchHide" resultType="int">
        select IFNULL(MAX(batch_id),0) AS batch_id from batch where batch_hide = 1
    </select>

    <!--查询所有指标信息-->
    <select id="selectAllTarget" resultMap="targetResultMap">
        select * from target where hides=1;
    </select>

    <!--根据指标id查询该指标拥有的选项-->
    <select id="selectTargetOptions" resultMap="optionResultMap">
        select o.*,tos.* from options o join targetoptions tos on o.options_id =  tos.options_id where tos.target_id=#{target_id} and tos.state=1 order by o.options_weight desc
    </select>

    <!--插入指标类别（查看数据库是否存在完全相同指标类别）-->
    <select id="selectTheTargetCategory" resultType="int">
        select  IFNULL(MAX(target_id),0) AS target_id from target where target_name = #{target_Name} and hides = 1;
    </select>
    <!--插入指标类别（当没有指标类别时）-->
    <insert id="insertTargetCategory">
        insert into target(target_name,target_weight,parent_id,leafs_id) value (#{target_Name},#{target_Weight},0,0)
    </insert>

    <!--删除指标选项表中指定的选项-->
    <delete id="deleteTargetOptions">
        delete from targetoptions where target_id=#{targetId}
    </delete>
    <!--删除指标-->
    <delete id="deleteTarget">
        delete from target where target_id=#{targetId}
    </delete>


    <!--插入下级指标类别（查看当前指标类别下是否存在相同下级指标类别）-->
    <select id="selectSubordinateTargetCategory" resultType="int">
        select  IFNULL(MAX(target_id),0) AS target_id from target where parent_id = #{target_Id} and target_name = #{target_Name} and hides = 1;
    </select>
    <!--插入下级指标类别-->
    <insert id="insertSubordinateTargetCategory">
        insert into target(target_name,target_weight,parent_id,leafs_id) value (#{target_Name},#{target_Weight},#{target_Id},0)
    </insert>

    <!--插入指标-->
    <insert id="insertTarget" useGeneratedKeys="true" keyProperty="target.target_Id">
        insert into target(target_name,target_weight,parent_id,leafs_id) value (#{target_Name},#{target_Weight},#{target_Id},-1)
    </insert>

    <!--插入选项-->
    <insert id="insertOptions" useGeneratedKeys="true" keyProperty="options.options_Id">
        insert into options (options_content, options_weight)
        values (#{options_Content},#{options_Weight});
    </insert>

    <!--指标和选项插入中间表-->
    <insert id="insertTargetOptions">
        insert into targetoptions (target_id, options_id)
        values (#{target_Id},#{options_Id});
    </insert>

    <!--保存  修改后的指标内容和权重-->
    <update id="saveTargetCategoryChange">
        update target set target_name=#{targetName},target_weight=#{targetWeight} where target_id=#{targetId}
    </update>

    <!--查询指标选项表中是否存在指定指标的选项-->
    <select id="selectTheTargetOptions" resultType="int">
        select  IFNULL(MAX(targetoptions_id),0) AS targetoptions_id from targetoptions where target_id = #{targetId} and state = 1
    </select>

    <!--删除指定指标的选项-->
    <update id="deleteTheTargetOptions">
        update targetoptions set state = 0 where target_id = #{targetId}
    </update>
    <!--恢复指定指标选项-->
    <update id="restoreTheTargetOptions">
        update targetoptions set state = 1 where target_id = #{targetId} and options_id=#{optionId}
    </update>

    <!--修改指定选项内容-->
    <update id="updataOptionsContent">
        update options set options_content=#{optionContent},options_weight=#{optionWeight} where options_id=#{optionId}
    </update>

    <!--查询指定指标全部删除的选项-->
    <select id="selectAllDeletedOptions" resultType="int">
        select options_id from targetoptions where target_id=#{targetId}
    </select>

    <!--查询是否存在内容相同的选项-->
    <select id="selectTheSameOption" resultType="int">
        select count(*) from options where options_id=#{optionsId} and options_content=#{optionsContent}
    </select>

    <!--删除指定指标的全部选项-->
    <delete id="deleteAllOptions">
        delete from options where options_id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--查询指定指标是否存在子级-->
    <select id="isExitSublevel" resultType="int">
        select target_id from target where parent_id=#{targetId}
    </select>
</mapper>